@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap");

/* custom colors in "index.css" */

#main {
  font-family: "Chivo Mono", monospace;
}

#title {
  text-align: center;
}

#search-area {
  background-color: rgb(50, 50, 50);
  padding: 10px;
}

#page-lock {
  background-color: black;
  width: 100vw;
  height: 100vh;
}

#center-locked {
  position: absolute;
  top: 50vw;
}

#search-field {
  font-family: "Chivo Mono", monospace;
}

#movie-list {
  background-color: rgb(187, 169, 147);
}

#help-panel {
  background-color: rgb(18, 18, 18);
  height: 100px;
}

.left-top-locked {
  position: absolute;
  left: 80px;
}
